body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #333;
}
header {
    background: linear-gradient(135deg, #004aad, #00aaff);
    color: white;
    text-align: center;
    padding: 2rem 0;
    font-size: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background: white;
    padding: 1rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
nav a {
    text-decoration: none;
    color: #004aad;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    transition: transform 0.2s ease-in-out, color 0.3s ease-in-out;
}

nav a:hover {
    transform: scale(1.1);
    color: #002766;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background: linear-gradient(135deg, #004aad, #00aaff);
    color: white;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-top: 2px solid #ccc;
    margin-top: 20px;
    width: 100%; 
    box-sizing: border-box;
}



.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    display: none;
    pointer-events: none;
}
.map-container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 100%;
}
#map {
    width: 80%;
    max-width: 1000px;
    
}
#map svg {
    width: 40%;
    height: auto;
}

